{% extends "base.html" %} {% block content %}
<form
  action="/diagnosis/addMany/"
  class="row g-3 needs-validation"
  novalidate
  method="post"
>
  <label for="number-diagnostics">Número de diagnósticos a evaluar:</label>
  <input
    type="number"
    min="2"
    class="form-control"
    id="number-diagnostics"
    name="number-diagnostics"
    required
  />
  <div class="invalid-feedback">Debe examinar al menos 2 diagnósticos.</div>

  <div class="col-12">
    <button class="btn btn-primary" type="submit">Siguiente</button>
  </div>
</form>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    "use strict";

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll(".needs-validation");

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms).forEach(function (form) {
      form.addEventListener(
        "submit",
        function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add("was-validated");
        },
        false
      );
    });
  })();
</script>
{% endblock %}
